* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

.flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.ul-flex-col > li {
	display: flex;
	flex-direction: column;
}

.gap {
	gap: 40px;
}

.navbar {
	padding: 20px 80px;
	height: 100px;
	gap: 100px;
	top: 0;
	position: sticky;
	background-color: #fff;
	font-size: 15px;
	z-index: 20;
}

ul {
	list-style-type: none;
}

.header-img {
	height: 25px;
	margin: 6px;
}

.logo {
	cursor: pointer;
	height: 50px;
}

.cursor {
	cursor: pointer;
}

.options {
	flex: 3;
}

.support {
	gap: 30px;
}

.gap-10px {
	gap: 8px;
}

.icon-small {
	height: 25px;
}

.font-500 {
	font-weight: 500;
}

.icon-font {
	font-size: 25px;
}

.right-10px {
	margin-right: 10px;
}

.icon-20px {
	font-size: 20px;
	margin-top: 4px;
	margin-left: 2px;
}

li:hover {
	background-color: rgb(255, 231, 231);
	border-radius: 10px;
}

.navbar > ul > li {
	padding: 10px;
	cursor: pointer;
}

.main {
	min-height: 100vh;
}

.booking-container {
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 40px;
}

.from-to-container {
	height: 120px;
	background-color: #ffffff;
	width: 70%;
	border-radius: 20px;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	font-weight: 600;
}

.from-to-container > div {
	display: flex;
	align-items: center;
	padding: 20px;
	cursor: pointer;
}

.from-to-container > div > .header-img {
	margin-right: 15px;
}

.from-to-container > div {
	flex: 1;
}

.color-red {
	background-color: #d84e55;
	height: 120px;
	text-wrap: nowrap;
	border-radius: 0 20px 20px 0;
	color: white;
}

.headline {
	color: #fdd67c;
}

.from-border {
	border-right: 1px solid #d84e55;
	height: 120px;
	border-radius: 20px 0 0 20px;
}

/* .border {
	border-top: 2px solid #d84e55;
	border-bottom: 2px solid #d84e55;
	height: 120px;
} */

.to-border {
	/* border-top: 2px solid #d84e55; */
	/* border-bottom: 2px solid #d84e55; */
	border-right: 1px solid #d84e55;
	height: 120px;
}

.offer-box {
	height: 180px;
	background-color: #1d4da5;
	padding: 15px;
	width: 120%;
	border-radius: 20px;
}

.w-full {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 80px;
	overflow-y: hidden;
}

.tag {
	background-color: #ffffff4b;
	color: #fff;
	padding: 5px 10px;
	width: fit-content;
	border-radius: 20px;
}

.offer-code {
	background-color: #ffffff4b;
	color: #fff;
	padding: 4px 10px;
	width: fit-content;
	border: 1px dashed #fff;
	border-radius: 5px;
}

.offer-img {
	border-radius: 50%;
}

.relative {
	position: relative;
}

.div-absolute {
	position: absolute;
	right: -20px;
	background-color: #fff;
	border: 1px solid rgb(116, 116, 116);
	color: rgb(72, 72, 72);
	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.hover-shadow:hover {
	box-shadow: 0px 0px 10px 0.1px #adadad;
}

.item-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.background-img {
	position: absolute;
	top: 110px;
	z-index: -1;
}

.trendy-container {
	background-color: #fff;
	height: 360px;
	margin: 0 80px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 40px;
	padding: 40px;
}

.fa-clone {
	font-size: 25px;
}

.scroll {
	overflow-x: scroll;
}

.trendy-container > div > span {
	font-size: 36px;
}

.view-btn {
	width: 120px;
	font-size: 22px;
	border-radius: 24px;
	height: 45px;
	border: 1px solid rgb(104, 104, 104);
	background-color: #fff;
	color: blue;
	cursor: pointer;
}

.view-btn:hover {
	box-shadow: rgba(14, 30, 37, 0.103) 0px 2px 4px 0px,
		rgba(14, 30, 37, 0.171) 0px 2px 16px 0px;
}

.container {
	min-height: 100vh;
	padding: 0 80px;
}

.referral-banner {
	margin: 100px 0;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.rental-div {
	margin: 40px 0;
	height: 60px;
}

.rental-border {
	border-bottom: 1px solid rgba(132, 132, 132, 0.5);
	/* padding: 20px; */
}

.h-full {
	height: 100%;
}

.bus-border {
	border-bottom: 3px solid #d84e55;
	padding: 12px;
}

.cab-book-btn {
	height: 60px;
	width: 25%;
	border: none;
	background-color: #d84e55;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 15px;
	margin-top: 50px;
}

.m-b10px {
	margin-bottom: 20px;
}

.rental-img {
	height: 35px;
	margin-left: 10px;
}
.m-l10px {
	/* height: 35px; */
	margin-left: 10px;
}
.m-r10px {
	height: 35px;
	margin-right: 20px;
}

.red-bold {
	color: #d84e55;
}

.absolute {
	position: absolute;
}

.justify-right {
	justify-content: right;
}

.tagline {
	font-size: 40px;
	text-wrap: nowrap;
}

.left-section {
	width: 40%;
}

.bold {
	font-weight: 700;
}

.flex-col {
	flex-direction: column;
}

.w-50 {
	width: 40%;
}

.enjoy-the-app {
	height: 400px;
	/* background-color: #bd5656; */
	margin-bottom: 100px;
	border-radius: 50px;
	padding: 40px;
	overflow: hidden;
}

.enjoy-the-app > span {
	font-size: 36px;
	color: white;
}

.m-10 {
	margin-bottom: 160px;
}

.app-container {
	height: 80%;
	gap: 80px;
}

.app-heading {
	color: #d84e55c0;
}

.light-red {
	color: rgba(0, 0, 0, 0.651);
}

.h-hr {
	height: 120%;
}

.font-26 {
	font-size: 26px;
}

.pink {
	color: #d84e55;
}

.book-btn {
	background-color: #d84e55;
	border: none;
	padding: 0 25px;
	height: 50px;
	border-radius: 10px;
}

.general-border {
	border-bottom: 3px solid #d84e55;
}

.question:hover {
	border-bottom: 3px solid #cf5359a8;
}
.route-hr {
	opacity: 0.3;
}

.opacity {
	opacity: 0.7;
}

.p-10px {
	padding: 10px;
}

.install-absolute {
	position: absolute;
	/* top: 10px; */
	left: 0;
	top: 0;
	z-index: -1;
}

.quick-box {
	background-color: #fff;
	padding: 40px;
	border-radius: 20px;
	width: 36%;
	justify-content: space-between;
}

.h-50 {
	height: 40%;
}

.h-60 {
	height: 60%;
}

.self-center {
	align-self: center;
}

.font-white {
	color: #ffffff;
}

.primo-card {
	background-color: #414893;
	height: 160px;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.primo-card-heading {
	font-size: 20px;
	font-weight: 700;
}

.primo-para {
	font-size: 15px;
}

.m-20 {
	margin: 100px 0 80px 0;
}

.nowrap {
	text-wrap: nowrap;
}

.font-36 {
	font-size: 36px;
}

.partnered-section {
	height: 300px;
}

.bg-grey {
	background-color: #212121;
}

.rtc-section {
	height: 200px;
}

.p-10 {
	padding: 20px;
}

.rtc-heading {
	font-size: 26px;
}

.operator-heading {
	font-size: 26px;
}

.font-24 {
	font-size: 22px;
}

.operator-section {
	height: 400px;
}

.bus-operators {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	/* padding: 40px; */
	margin: 40px 0;
	gap: 40px;
}

.presence {
	height: 250px;
	margin: 80px 0 120px 0;
}

.country {
	height: 160px;
	gap: 10px;
}

.redbus-para {
	line-height: 40px;
}

.book-bus {
	gap: 20px;
}

.book-heading {
	margin-bottom: 20px;
}

.link {
	color: blue;
	font-weight: 500;
}

.exclusive {
	margin: 100px 0;
	height: 300px;
}

.exclusive-heading {
	margin-bottom: 20px;
}

.line-height-30 {
	line-height: 30px;
}

.unbeatable {
	height: 160px;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	border-radius: 20px;
	margin: 20px 0;
	padding: 60px;
}

.reddeal {
	height: 40px;
}

.w-100 {
	width: 100%;
}

.w-60 {
	width: 70%;
}

.question-div {
	height: 80px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
	padding: 40px;
	border-radius: 15px;
	font-weight: 600;
}

.question-div > div > span:last-child {
	font-size: 45px;
	font-weight: 400;
}

.footer {
	background-color: #f7f7f7;
	/* height: 600px; */
	margin-top: 100px;
	padding: 40px 80px;
	padding-bottom: 0;
}

.superhit {
	background-color: #822025;
}

.bus300 {
	background-color: #35a16e;
}

.rs200 {
	background-color: #46adc6;
}

.font-20 {
	font-size: 18px;
}

.top {
	height: 240px;
}

.gap-20px {
	gap: 20px;
}

.flex-1 {
	flex: 1;
	align-items: center;
	padding: 40px 0;
	gap: 10px;
	align-items: flex-start;
}

.flex-2 {
	flex: 2;
	align-items: center;
	padding: 40px 0;
	padding-right: 10px;
	text-align: justify;
	gap: 10px;
	align-items: flex-start;
}

.footer-img {
	height: 80px;
}

.m-15px {
	margin-top: 20px;
}

.copyright {
	padding: 25px 0;
}
